
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">

    <title><%= title %></title>

  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="/">CMS Shopping Cart</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <% pages.forEach(function(page) { %>
            <% if(page.slug == "home") { %>
              <li class="nav-item"><a class="nav-link" href="/"> <%= page.title %> </a></li>
            <% } else { %>
              <li class="nav-item"><a class="nav-link" href="<%= page.slug %>"> <%= page.title %> </a></li>
            <% } %>
          <% }); %>
        </ul>
      </div>
    </nav>

    <main role="main" class="container">

        <%- messages('messages', locals) %>
    